@media (prefers-color-scheme: dark) {
    :root {
    --bg-color: black;
    }}

body {
    color: CanvasText;
  margin: 0 auto auto;
  width: 800px;
  background-color: var(--bg-color);
  color-scheme: light dark;
  display: flex;
  min-height: 100%;
  text-align: center;
  font-weight: normal;
  font-family: monospace
}

.title {
    font-family: sans-serif;
    mix-blend-mode: exclusion;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translate(0, -50%);
}

.nav {
    margin: 12px 0 8px 0;
    text-align: left;
}
.banner {
    margin: 8px 0;
    border-radius: 25px;
    background-image: url(banner.png);
    background-position: left top;
    background-repeat: repeat;
    width: 800px;
    height: 300px;
    position: relative;
    font-size: 35pt;
    color: white;
}

.main {
    width: 800px;
    flex-grow: 1;
    display: flex;
}

.note {
    margin: 16px 0;
    width: 800px;
    position: fixed;
    bottom: 0px;
    font-size: 10pt;
}

a:link {
  color: ButtonText
}
